[Desktop Entry]
Icon=/opt/pycharm-2023.2.1/bin/pycharm.svg
Type=Application
Exec=/opt/pycharm-2023.2.1/bin/pycharm.sh
Path=/home/eelco/PyCharmProjects
GenericName=Pycharm IDE
